<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Channel {{ name }} | Yousync</title>
  <link rel="stylesheet" href="/public/styles/main.css">
</head>
<body>
  <h1>Yousync Channel: {{ name }}</h1>
  <p>
    <form class="main-form" id="load-video-form">
      <label>Enter youtube video url</label>
      <input type="text" name="videoUrl">
      <button>Load video</button>
    </form>
  </p>

  <div class="player-container">
    <div id="yt-player"></div>
  </div>
  
  <script src="https://www.youtube.com/iframe_api"></script>
  <script>
    /* global YT */

    var qs = document.querySelector.bind(document)

    var channelName = '{{ name }}'
    var videoId = '{{ videoId }}'
    var lastCommand = JSON.parse('{{ JSON.stringify(lastCommand) }}')

    var form = qs('#load-video-form')

    var player
    var ws = new window.WebSocket('ws://' + window.location.host)

    var getParameterByName = function (url, parameterKey) {
      var name = parameterKey.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]')
      var regex = new RegExp('[\\?&]' + name + '=([^&#]*)', 'i')
      var results = regex.exec(url)
      return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '))
    }

    var guid = function () {
      function s4 () {
        return Math.floor((1 + Math.random()) * 0x10000).toString(16).substring(1);
      }
      return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
    }

    var uid = guid()

    function onYouTubeIframeAPIReady () {
      if (videoId) loadPlayer(videoId)
    }

    form.addEventListener('submit', function (e) {
      e.preventDefault()
      if (player) player.destroy()
      var videoId = getParameterByName(this.videoUrl.value, 'v')

      var payload = {
        type: 'video',
        channelName: channelName,
        videoId: videoId
      }

      ws.send(JSON.stringify(payload))
      loadPlayer(videoId)
    })

    function loadPlayer (videoId) {
      player = new YT.Player('yt-player', {
        height: '390',
        width: '640',
        videoId: videoId,
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      })
    }

    function onPlayerReady () {
      if (lastCommand) executeCommand(lastCommand)
    }

    ws.onmessage = function (e) {
      var msg = JSON.parse(e.data)
      if (msg.type === 'command') {
        executeCommand(msg)
      }
    }

    var acceptStateChange = true

    function onPlayerStateChange (event) {
      if (acceptStateChange) {
        sendCommand(event.data)
      }
    }

    function sendCommand (command) {
      var cmd = {
        type: 'command',
        channelName: channelName,
        command: command,
        timestamp: Date.now(),
        time: Math.round(player.getCurrentTime() * 1000) / 1000,
        id: uid
      }
      ws.send(JSON.stringify(cmd))
    }

    function executeCommand (command) {
      if (command.id === uid) {
        return
      }

      acceptStateChange = false
      setTimeout(function () {
        acceptStateChange = true
      }, 1000)

      switch (command.command) {
        case YT.PlayerState.PLAYING:
          player.playVideo()
          var syncDiff = (Date.now() - command.timestamp) / 1000
          // console.log('syncDiff: ' + syncDiff)
          // console.log('command.time: ' + command.time)
          player.seekTo(command.time + syncDiff + 0.05)
          break
        case YT.PlayerState.PAUSED:
          player.pauseVideo()
          break
      }
    }
  </script>
</body>
</html>