* {
  box-sizing: border-box;
}

body {
  background-color: #272822;
  color: white;
  font-family: Merriweather, serif;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5;
}

.main-form {
  width: 500px;
  margin: auto;
}

.main-form input[type="text"] {
  width: 70%;
  border-radius: 5px;
  padding: 10px;
  border: 0;
  margin-top: 10px;
}

.main-form button {
  width: 25%;
  background-color: #E32653;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 24px;
}

.player-container {
  width: 640px; 
  margin: auto;
}